.list {
    column-count: 5;
}

.list li {
    list-style: none;
}

.specs-container {
    width: 180px;
    margin: 0 0 1px 20px;
    background: #ebebeb;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.specs-container-main {
    width: 180px;
    margin: 0 0 20px 20px;
    background: #ffc6c6;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.specs {
    display: inline;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}

.head {
    font-size: 30px;
    display: inline;
}

.head p {
    margin: 5px 15px 5px 60px;
}