{% extends 'base.html' %}

{% block content %}


<!--Аналог меню-->
<div class="head">
	{% for k, v in menu.items %}
	<a href="{{v}}"><p>{{k}}</p></a>
	{% endfor %}
</div>

<hr>


<!--Заголовки для колонок-->
<ul class="list">
	{% for i in gen %}
		<li>
			<div class="specs-container-main">
				<div class="specs">Загрузка</div>
				<div class="specs"> Время</div>
			</div>
		</li>
	{% endfor %}
</ul>


<!--Сами данные-->
<ul class="list">

	{% for cpu in cpus %}
	<li>
		<div class="specs-container">
			<div class="specs">{{cpu.number}}%</div>
			<div class="specs"> ({{ cpu.time_create|date:"H:i:s" }})</div>
		</div>
	</li>
	{% endfor %}

</ul>

<div class="head">
	<p>Среднее значение загрузки для текущих данных (вся выборка): {{avg}}%</p>
</div>

{% endblock %}